.stars {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.star {
  width: 1.2em; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantén la proporción de la imagen */
  margin: 0 2px;
}
