.inicio-container {
  max-width: 1400px;
  min-width: 600px;
  margin: 0px auto;
  text-align: center;
}

.content-section {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--dark-2);
  box-shadow: var(--box-shadow-inset);
  border-radius: 8px;
  margin-bottom: 20px;
}

.stats-section-global {
  flex: 2;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--dark-2);
  border-radius: 8px;
  box-shadow: var(--box-shadow-inset);
}

.stats-section {
  flex: 1; /* Distribuir el espacio proporcionalmente */
  border-radius: 8px;
  padding: 15px;
}

.bio-section {
  flex: 1;
  padding: 10px;
  text-align: left;
}

.bio-section p {
  font-size: 1.2em;
  color: var(--text-2);
  line-height: 1.5;
}

.images-section {
  flex-shrink: 0;
}

.twitch-image {
  max-width: 200px;
  height: auto;
  padding: 20px;
  margin-left: 60px;
}

section {
  padding: 20px;
  border-radius: 8px;
  background-color: var(--dark-2);
  box-shadow: var(--box-shadow-inset);
}

.div-section {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
}

.achievements-and-stats {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px; /* Espacio entre las secciones */
}

.inicio-header {
  display: flex;
  align-items: center; /* Alinea verticalmente el texto y la imagen */
}

.inicio-header h1 {
  margin-bottom: 10px;
  flex: 0; /* Asegura que el texto no tome más espacio del necesario */
  font-size: 2em;
  color: var(--text);
  margin-right: 10px; /* Ajusta el espacio entre el texto y la imagen */
}

.inicio-header img {
  height: 40px;
  margin: 0; /* Elimina cualquier margen adicional */
  padding: 0; /* Elimina cualquier relleno adicional */
}

.social-links {
  display: flex;
  flex-direction: column; /* Orientación vertical */
  align-items: center; /* Alinea los íconos al inicio (izquierda) */
  justify-content: flex-start; /* Alinea los íconos verticalmente al inicio */
  margin-top: 0; /* Elimina cualquier margen superior */
  margin-right: 20px; /* Ajusta la separación del texto */
  margin-left: 20px;
  gap: 8px; /* Espaciado entre los íconos */
}

.social-links a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.social-links img {
  height: 30px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

.social-links a:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el cursor */
}

.social-and-bio {
  display: flex;
  align-items: center; /* Alinea los íconos con el inicio del texto */
}

.user-stats-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px; /* Separación entre tablas */
}

.stats-section h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--text);
}

.stats-section h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--text);
}

.stats-section table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.stats-section th,
.stats-section td {
  padding: 10px;
  border-bottom: 1px solid var(--divider);
  font-size: 14px;
}

.user-data-text {
  text-align: right;
}

.stats-section td img.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.stats-section tbody tr:last-child td {
  border-bottom: none;
}

.racha-special {
  color: #913636;
}

.achievements-section {
  flex: 1;
  padding: 20px;
  padding-left: 30px;
  margin-top: 20px;
  background-color: var(--dark-2);
  border-radius: 8px;
  box-shadow: var(--box-shadow-inset);
}

.achievements-section h2 {
  text-align: left;
  margin-bottom: 8px;
}

.achievements-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: left;
}

.achievements-table tr {
  height: 60px;
}

.achievements-table th,
.achievements-table td {
  padding: 10px;
  font-size: 14px;
}

.achievements-table th {
  background-color: var(--dark-1);
  color: var(--text);
  text-align: left;
}

.achievements-table tbody tr:hover {
  background-color: var(--dark-hover);
  cursor: default;
}

.achievements-table tbody tr:last-child td {
  border-bottom: none;
}

.achievement-users {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  align-items: center;
}

.user-row {
  display: flex;
  align-items: center;
  gap: 0px;
}

.user-row span {
  font-size: 14px;
  color: var(--text-2);
}

.profile-pic-small {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Asegura que la imagen tenga forma redonda */
}

.achievements-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(120px, 1fr)
  ); /* Crea columnas dinámicas */
  gap: 0px;
  width: 100%;
}

.achievement-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  width: 100%;
}

.achievement-name {
  font-weight: bold;
  margin-bottom: 10px; /* Espacio entre el nombre del logro y los iconos */
}

.achievement-users {
  display: flex;
  justify-content: center;
  gap: 0px; /* Espacio entre los iconos */
  flex-wrap: wrap;
}

.user-icon {
  display: inline-block;
}

.profile-pic-small {
  width: 40px; /* Ajusta el tamaño del icono */
  height: 40px;
  border-radius: 50%;
}

.achievement-users {
  margin-top: 10px;
  margin-bottom: 20px;
  height: 20px;
}

.achievements-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea todo a la izquierda */
  gap: 0px; /* Espacio entre cada logro */
}

.achievement-item {
  display: flex;
  flex-direction: row; /* Alinea el icono, nombre y usuarios horizontalmente */
  align-items: center; /* Alinea verticalmente los elementos */
  justify-content: flex-start; /* Alinea a la izquierda */
  gap: 0px; /* Espacio entre el icono, nombre y los usuarios */
}

.achievement-icon {
  /* Asegura que el icono se quede a la izquierda */
  display: flex;
  justify-content: flex-start;
}

.achievement-icon-img {
  margin-right: 20px;
  width: 40px; /* Tamaño del icono */
  height: 40px;
}

.achievement-name {
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}

.achievement-users {
  display: flex;
  justify-content: flex-start; /* Alinea los iconos de usuario a la izquierda */
  gap: 10px;
  flex-wrap: wrap;
}

.user-icon {
  display: inline-block;
}

.profile-pic-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header-logro {
  text-transform: capitalize;
  font-size: 1em;
  color: var(--text-2);
}

.achievement-item {
  display: flex;
  flex-direction: column; /* Coloca el nombre sobre los iconos */
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.header-logro {
  width: 100%;
  text-transform: capitalize;
  color: var(--text-2);
  padding-bottom: 10px; /* Espacio entre el nombre y los iconos */
  margin-top: 2px;
  border-bottom: 1px solid var(--divider);
}

.achivement-global {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
}

.achievement-icon {
  display: flex;
  align-items: center;
}

.achievement-icon-img {
  width: 30px; /* Tamaño del icono */
  height: 30px;
}

.achievement-users {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.user-icon {
  display: inline-block;
}

.profile-pic-small {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.achievements-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.achievement-item {
  display: flex;
  flex-direction: column; /* Mantiene el nombre sobre los iconos */
  align-items: flex-start;
  width: 100%;
}

.achievement-users {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start; /* Alinea los iconos a la izquierda */
}

.logros-header {
  padding-bottom: 10px;
}

.achievement-content {
  position: relative;
  width: 100%;
  height: auto;
}

.achievement-row {
  display: flex;
  align-items: center; /* Alinea verticalmente el ícono y los usuarios */
  gap: 10px; /* Espacio entre el ícono del logro y los íconos de usuario */
}

.achievement-icon {
  flex-shrink: 0; /* Evita que el ícono se reduzca */
}

.achievement-users {
  display: flex;
  flex-wrap: wrap; /* Permite que los íconos de usuario se distribuyan en varias líneas si es necesario */
  gap: 5px; /* Espacio entre los íconos de usuario */
}

.user-icon img {
  width: 30px; /* Tamaño de los íconos de usuario */
  height: 30px;
  border-radius: 50%; /* Redondea los íconos de usuario */
  object-fit: cover; /* Asegura que las imágenes se ajusten bien */
}

.achievement-description {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 0.9rem;
  color: #666;
  opacity: 0;
  visibility: hidden;
  position: absolute; /* Superpone la descripción sobre los íconos */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-20px); /* Inicialmente está más arriba */
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  padding: 10px;
  cursor: default;
}

.achievement-icons {
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  transform: translateY(0); /* Posición inicial normal */
}

.achievement-item:hover .achievement-icons {
  transform: translateY(20px); /* Desliza hacia abajo al ocultarse */
  opacity: 0; /* Desvanece al ocultarse */
  visibility: hidden; /* Oculta completamente */
}

.achievement-item:hover .achievement-icons {
  opacity: 0;
  visibility: hidden;
}

.achievement-item:hover .achievement-description {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* Desliza hacia abajo a su posición original */
}
