:root {
  --navbar: #20262d;
  --dark: #13181d;
  --dark-2: #181d23;
  --mid: #20262d;
  --mid-2: #23282f;
  --mid-3: #20262d;
  --clear: #38404a;
  --clear-2: #404854;
  --text: #fafafa;
  --text-2: #a0a8b2;
  --text-3: #d0d6de;
  --text-4: #4a5662;
  --divider: #13181d;

  --color-dark: #ff5555;
  --color-mid: #ff8888;
  --color-clear: #ffaaaa;

  --background-color-filter-menu: #20262d;
  --text-filter-menu: #fafafa;

  --box-shadow: 0 8px 10px rgba(20, 25, 35, 0.25);
  --box-shadow-2: 0 8px 10px rgba(20, 25, 35, 0.1);
  --box-shadow-3: 0 8px 10px rgba(20, 25, 35, 0.1);
  --box-shadow-up: 0 -4px 6px rgba(20, 25, 35, 0.1);
  --box-shadow-inset: inset 0 0 10px rgba(20, 25, 35, 0.75);
  --box-shadow-inset-2: inset 0 0 5px 2px rgba(20, 25, 35, 0.75);
  --box-shadow-inset-3: inset 0 0 2px rgba(20, 25, 35, 0.75);
  --box-shadow-inset-glow: inset 0 0 5px 1px rgba(60, 90, 140, 0.5);

  --img-shadow-glow: drop-shadow(0 0 1px #4b5662);
  --img-background-glow: #232834;
  --img-border: drop-shadow(1px 1px 1px #13181d);

  --selected-button-high: #23283448;
  --edit-text: #20262d;
  --edit-text-border: #20262d;
  --lupa: url("/public/static/resources/lupa.png");
  --transparent: rgba(0, 0, 0, 0);
  --progressbar-color: #ff8888;
  --progressbar-back: #13181d;
  --voices: #ff8888;
  --sounds: #88c5ff;
  --button-color: #232834;
  --button-color-clear: #38404a;
  --button-color-dark: #0d1014;
  --textshadow: 1px 1px 2px #13181d;
  --font-main: "JetBrains Mono", monospace;
}

body.dark-mode {
  --navbar: #ffffff;
  --dark: #f8f8f8;
  --dark-2: #fbfbfb;
  --mid: #ccc;
  --mid-2: #cfcfcf;
  --mid-3: #f8f8f8;
  --clear: #fff;
  --clear-2: #ffffff;
  --text: #222;
  --text-2: #777;
  --text-3: #eee;
  --text-4: #777;
  --divider: #eee;

  --color-dark: #ff5555;
  --color-mid: #ff8888;
  --color-clear: #ffaaaa;

  --background-color-filter-menu: #f8f8f8;
  --text-filter-menu: #222;

  --box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
  --box-shadow-2: 0 0px 5px rgb(0, 0, 0, 0.5);
  --box-shadow-3: 0 0px 10px rgb(0, 0, 0, 0.25);
  --box-shadow-up: 0 -4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-inset: inset 0 0 10px rgb(0, 0, 0, 0.25);
  --box-shadow-inset-2: inset 0 0 8px 1px rgba(116, 116, 116, 0.5);
  --box-shadow-inset-3: inset 0 0 2px rgb(0, 0, 0, 0.25);
  --box-shadow-inset-glow: inset 0 0 8px 2px rgb(168, 137, 0);

  --img-shadow-glow: drop-shadow(0 0 1px rgb(155, 132, 0));
  --img-background-glow: #ffffd6;

  --selected-button-high: rgba(85, 85, 85, 0.082);
  --edit-text: #ffffff;
  --edit-text-border: #dfdfdf;
  --lupa: url("/public/static/resources/lupablack.png");
  --transparent: rgba(0, 0, 0, 0);
  --progressbar-color: #ff8888;
  --progressbar-back: #bababa;
  --voices: #ff8888;
  --sounds: #88c5ff;
  --button-color: #fff;
  --button-color-clear: #ffffff;
  --button-color-dark: #ccc;
  --textshadow: 1px 1px 1px #ffffff00;
  --font-main: "JetBrains Mono", monospace;
}

body {
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.star {
  width: 1.2em;
  height: auto;
  margin: 0 2px;
}